body{
    background-color: #E5E5E5;
}

.section--1{
    background-color: #E5E5E5;
    padding-top: 2em;
    padding-bottom: 2em;
}

.section--2{
    background-color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}

.navigation-bar{
    background-color: #1F2428;
    height: 50px;
    display: flex;
    justify-content: center;
}

.nav-link{
    color: white;
}

.hero{
    background-color: #1F2428;
    height: 70vh;
    color: white;

}

#profile_pic{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
}

.hero--content{
    margin: 0 auto;
    width: 800px;
    padding: 3em;

}

.hero--content--intro{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-bottom: 1.5em;
}

.intro--name{
    font-size: 65px;
    letter-spacing: 0.1em;
}

.description{
    font-size: 45px;
    text-align: center;
}

.slogan{
    font-size: 20px;
    text-align: center;
}

.projects--wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.project-thumbnail{
    width: 100%;

}

.project--body{
    background-color: white;
    padding:1em;
}

.skills--container{
    width: 600px;
    margin: 0 auto;
}

.skill--wrapper{
    margin-top: 2em;
    margin-bottom: 2em;
}