.navigation-bar{
    background-color: #1F2428;
    height: 50px;
    display: flex;
    justify-content: center;
}

.nav-link{
    color: white;
}

.hero{
    background-color: #1F2428;
    height: 80vh;

}

#profile_pic{
    height: 180px;
    width: 180px;
    object-fit: cover;
}

.hero--content{
    margin: 0 auto;
    width: 800px;
    padding: 3em;

}

.hero--content--intro{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.intro--name{
    font-size: 65px;
}